html {
  background-color: brown;
}

body {
  background-color: salmon;
  border-radius: 35px;
  padding: 15px 150px 15px;
  margin: 90px auto;
  width: 600px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: sienna;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.b {
  color: blanchedalmond;
}

.c {
  color: burlywood;
}
